<footer class="text-lg-start py-3">
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="container-fluid">
    <div class="container hwu-footer-content">
      <div class="justify-content-left">
        <div class="row">
          <div class="col-4 text-white my-4 mb-3">
            <a class="my-2" href="https://www.hw.ac.uk/" target="_blank">
              <img class="img-fluid hwu-footer-logo float-left d-block" src="/assets/hwu/images/hwu-footer-logo.svg"
                [attr.alt]="'menu.footer.image.logo' | translate" />
            </a>
            <div class="clearfix"></div>
            <p class="text-left py-3">
              &#169;Heriot-Watt University
            </p>
            <p class="text-left">Edinburgh, Scotland</p>
            
            <p class="text-left">
              +44 131 449 5111
             </p>
          </div>

          <div class="col-8 mt-4 mb-3 text-white">
            <div class="row footer-info list-unstyled justify-content-left py-3">
              <div class="col">
                <a class="text-white" routerLink="/info/about">About</a>
              </div>
              <div class="col">
                <a class="text-white" routerLink="/info/copyright">Copyright</a>
              </div>
              <div class="col">
                <a class="text-white" routerLink="/info/accessibility">Accessibility</a>
              </div>
              <!-- <div
              class="row footer-info list-unstyled small d-flex justify-content-center mb-0"
            > -->
              <div class="col">
                <a class="text-white" target="_blank" href="https://www.hw.ac.uk/uk/about/policies.htm">Policies</a>
              </div>
              <div class="col">
                <a class="text-white" target="_blank"
                  href="https://www.hw.ac.uk/uk/about/policies/cookies.htm">Cookies</a>
              </div>
              <div class="col">
                <a class="text-white" routerLink="/info/feedback">Feedback</a>
              </div>
            </div>
            <div class="row justify-content-left py-3 text-white">
              <div class="col-12">
              <p class="text-left mx-2">Maintained by the Library</p>
              <div class="clearfix"></div>
              <p class="text-left mx-2">Library Tel: +44 131 451 3577</p>
              <div class="clearfix"></div>
              <p class="text-left mx-2">
                Library Email:
                <a class="text-white" href="mailto:libhelp&#64;hw.ac.uk">libhelp&#64;hw.ac.uk</a>
              </p>
              <div class="clearfix"></div>
              <p class="text-left mx-2">
                ROS Email:
                <a class="text-white" href="mailto:open.access&#64;hw.ac.uk">open.access&#64;hw.ac.uk</a>
              </p>
              <div class="clearfix"></div>
              <p class="text-left mx-2">
                Scottish registered charity number: SC000278
              </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Copyright -->
</footer>