@import '../../../styles/_global-styles.scss';

:root {
  --ds-navbar-link-color: #003C71;
  --ds-navbar-link-color-hover: #003C71;
  --ds-header-icon-color: #ffffff;
  --ds-header-icon-color-hover: #ffffff;
  --ds-home-news-link-color: #003C71;
  --ds-home-news-link-hover-color: #003C71;
  --ds-home-news-background-color: #003C71;
  --ds-breadcrumb-link-color: #003C71;
  --ds-breadcrumb-link-active-color: black;
  --ds-footer-bg: #003C71;
  --ds-top-footer-bg: #003C71;
  --ds-footer-border: 0 solid var(--ds-footer-bg);
}

// Add any global css for the theme here
body {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    line-height: 1.428571429;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 span {
    color: #003C71;
    border-bottom: none !important;
}

h2.no-bottom-border {
    border-bottom: none !important;
}

a {
    // color: ##003C71;
}

a:hover {
    // color: ##003C71;
}

i.fas.fa-globe-asia.fa-lg.fa-fw {
    color: #fff;
}

.admin-menu-header h4 {
    color: #fff;
    border-bottom: none !important;
}

.pin-sidebar {
    color: #ffffff80;
}

.lead {
    font-size: 1.5rem;
}

.nav-breadcrumb,
.breadcrumb {
    background-color: #fff !important;
}

.breadcrumb {
    padding: 0px;
    list-style: none !important;
}

li.breadcrumb-item {
    padding: 0.75rem 1rem;
    border-bottom: 4px solid #fff;
}

li.breadcrumb-item.active {
    border-bottom: 4px solid #003C71 !important;
    background-color: #f9f9f9 !important;
}

.text-truncate {
    color: #3a3a3a !important;
    font-size: 1.1rem;
    font-weight: 400;
}

li.breadcrumb-item:hover {
    border-bottom: 4px solid var(--bs-blue);
    background-color: #f9f9f9;
}

li.breadcrumb-item:hover a.text-truncate {
    text-decoration: none;
    color: var(--bs-blue) !important;
}

li[ds-navbar-section] {
    ds-link-menu-item {
        --ds-navbar-link-color: white;
        --ds-navbar-link-color-hover: white;
    }
}

.btn-primary,
.btn-secondary,
button.btn.btn-lg.btn-primary.btn-block {
    // background-color: var(--bs-blue);
    // border-color: var(--bs-blue);
}

.btn-primary:hover,
.btn-secondary:hover,
button.btn.btn-lg.btn-primary.btn-block:hover {
    // background-color: ##003C71;
    // border-color: ##003C71;
    text-decoration: underline;
}

button#save span,
button#saveForLater span,
button#deposit span {
    color: #fff;
}

button.btn.btn-secondary.active,
.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show>.btn-secondary.dropdown-toggle {
    // background-color: ##003C71
}

a.btn.btn-outline-primary {
    background-color: #fff;
    color: #3a3a3a !important;
}

i.fas.fa-info-circle {
    color: #3a3a3a !important;
}

.btn-outline-secondary:hover,
a.btn.btn-outline-primary:hover {
    color: var(--bs-blue) !important;
    background-color: #fff9fd;
    text-decoration: underline !important;
}

a.btn.btn-outline-primary:hover i.fas.fa-info-circle {
    color: var(--bs-blue) !important;
}

// .form-control {
//    color: ##003C71 !important;
// }

.facet-filter,
.setting-option {
    background-color: #fff !important;
    border: 1px solid #003C71 !important;
}

.filters .toggle-more-filters a,
.filter-value {
    // color: ##003C71 !important;
    text-decoration: none !important;
}

.filters .toggle-more-filters a:hover,
.filter-value:hover {
    color: var(--bs-blue) !important;
    text-decoration: underline !important;
}

.dropdownLogin {
    text-decoration: none !important;
}

.dropdown-item {
    // color: ##003C71;
}

.dropdown-item:hover,
.dropdown-item:focus {
    // color: var(--bs-blue);
    text-decoration: underline;
    background-color: #FFF;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #f9f9f9 !important;
    // color: var(--bs-blue) !important;
}

.page-link {
    // color: ##003C71;
}

.page-item.active .page-link {
    // background-color: var(--bs-blue) !important;
    // border-color: var(--bs-blue) !important;
//    color: ##003C71 !important;
}

.badge-info,
.badge-secondary {
    background-color: #003c71 !important;
}

.navbar-header {
    border-bottom: 0px;
}

.nav-item .nav-link,
.nav-item .nav-link span {
    // color: ##003C71;
}

.dropdown-toggle::after {
    // color: ##003C71 !important;
}



.facet-filter-header {
    font-size: 1.1rem;
    font-weight: 400;
    padding: 10px 0px;
    // color: var(--bs-blue);
}

.facet-filter .fas {
    // color: var(--bs-blue);
}

i.fas.fa-lock {
    // color: ##003C71;
}

.position-relative {
    border-bottom: none;
}

.modal-body h5 {
    border-bottom: none;
}

.text-secondary h3 {
    border-bottom: none;
}

// fixing/replacing full item page table for divs
.div-table-body {
    vertical-align: middle;
    border-color: inherit;
    color: #343a40;
}

.div-table-body .div-table-row:nth-of-type(odd) {
    background-color: #f8f9fa;
}

.div-table-row {
    width: 100%;
    display: table;
}

.div-table-column {
    display: table-cell;
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    width: 33.3%;
}

.div-table-column.div-table-language {
    text-align: right;
    padding-right: 4rem;
}

// fixing statistics page heading levels
.statistics-header {
    font-size: 2rem;
}

.m-1 h2 {
    font-size: 1.75rem;
}

.div-table-stats-column-1 {
    display: table-cell;
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    width: 75%;
}

.div-table-stats-clolumn-1-bold {
    font-weight: bold;
}

.div-table-stats-column-2 {
    display: table-cell;
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    width: 25%;

    font-size: 1rem;
    line-height: 1.5;
    color: #343a40;
}

.div-table-stats-clolumn-2-bold {
    font-weight: bold;
}

.card-title {
    font-size: 1.5rem;
}

.facet-filter-header {
    font-size: 1.1rem;
    margin: auto !important;
    display: inline-block !important;
}

.setting-option h3 {
    font-size: 1.1rem !important;
}

// The fa-circle class was appearing too big in the treeview. This is a fix for that.
.dropdown .fa-2x,
.dropup .fa-2x {
    font-size: 1.5em !important;
}

// Overwritting scss in src/styles/_truncatable-part.component.scss
// @for $i from 1 through 15 {
//     .clamp-default-#{$i} .content,
//     :focus .clamp-default-#{$i} .content,
//     .ds-hover .clamp-default-#{$i} .content {
//         max-height: #{$i * 20}rem !important;
//     }
// }

/* Fix abstract field line breaks */
ds-item-page-abstract-field .simple-view-element-body .preserve-line-breaks {
  white-space: normal !important;
  word-wrap: break-word;
  line-height: 1.6;
}

ds-item-page-abstract-field .simple-view-element-body .dont-break-out {
  word-break: normal !important;
  overflow-wrap: normal !important;
}
