// Add any global css for the theme here

// imports the base global style
@import '../../../styles/_global-styles.scss';

:root {
  --ds-navbar-link-color: #003C71;
  --ds-navbar-link-color-hover: #003C71;
  --ds-header-icon-color: #ffffff;
  --ds-header-icon-color-hover: #ffffff;
  --ds-home-news-link-color: #003C71;
  --ds-home-news-link-hover-color: #003C71;
  --ds-home-news-background-color: #003C71;
  --ds-breadcrumb-link-color: #003C71;
  --ds-breadcrumb-link-active-color: black;
  --ds-footer-bg: #003C71;
  --ds-top-footer-bg: #003C71;
  --ds-footer-border: 0 solid var(--ds-footer-bg);
}

@media (min-width: 576px) {
  .container-sm, .container {
    // max-width: 540px;
    max-width: 768px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    // max-width: 720px;
    max-width: 992px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    // max-width: 960px;
    max-width: 1200px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    // max-width: 1140px;
    max-width: 1600px;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #f0f0f0; 
}

.lead {
  font-size: 1.5rem;
  font-weight: 400;
}

a:link,
a:visited,
a {
  color: #003C71;
}

a:hover,
a:focus {
  text-decoration: none;
  border-bottom: 1px dotted #003C71;
  color: #003C71;
}

h3 a:hover {
  text-decoration: none;
  border-bottom: none;
}

li[ds-navbar-section] {
  ds-link-menu-item {
    --ds-navbar-link-color: white;
    --ds-navbar-link-color-hover: white;
  }
}


// tables
// fixing/replacing full item page table for divs
.div-table-head {
  //display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

.div-table-tr {
  display: flex;
  vertical-align: inherit;
  border-color: inherit;
}

.table *,
.table *:before,
.table *:after,
.div-table-tr *,
.div-table-tr *:before,
.div-table-tr *:after,
.div-table-head *,
.div-table-head *:before,
.div-table-head *:after {
  box-sizing: unset !important;
  -webkit-box-sizing: unset !important;
  -moz-box-sizing: unset !important;
}

.div-table-th {
  font-weight: bold;
}

.div-table-th,
.div-table-td {
  vertical-align: bottom;
  border: 1px solid #dee2e6;
}

.div-table-body {
  vertical-align: middle;
  border-color: inherit;
  color: #343a40;
}

.div-table-body .div-table-row:nth-of-type(odd) {
  background-color: #f8f9fa;
}

.div-table-row {
  width: 100%;
  display: table;
}

.div-table-column {
  display: table-cell;
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  width: 33.3%;
}

.div-table-column.div-table-language {
  text-align: right;
  padding-right: 4rem;
}

.div-table-summary {
  padding-right: 0.76rem;
}

// fixing statistics page heading levels
.statistics-header {
  font-size: 2rem;
}

.m-1 h2 {
  font-size: 1.75rem;
}

.div-table-stats-column-1 {
  display: table-cell;
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  width: 75%;
}

.div-table-stats-column-1-bold {
  font-weight: bold;
}

.div-table-stats-column-2 {
  display: table-cell;
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  width: 25%;

  font-size: 1rem;
  line-height: 1.5;
  color: #343a40;
}

.div-table-stats-column-2-bold {
  font-weight: bold;
}

// Fix for item page metadata formatting
.preserve-line-breaks {
  white-space: normal;
}
