<div class="container">
  <h1>Copyright</h1>
  <p>
    All materials including, without limitation, website design, text, graphics,
    images, software compilations, underlying source code and software
    (including applets) on this website are the copyright of Heriot-Watt
    University or the relevant providers. Individuals are allowed to browse,
    download or copy such materials under the limit of “fair dealing” in
    quantity and quality and for personal reference only.
  </p>
  <p>
    Except as stated above, materials should not be reproduced without
    permission or licence from Heriot-Watt University.
  </p>
  <p>
    All legal and intellectual property enquiries should be directed to Research
    & Enterprise Services.
  </p>
</div>
